.card {
    background-color: white;
    padding: 1.5rem;
    border: 2px solid transparent;
    border-radius: var(--border-radius-1);
    transform: var(--transition);
}

.card:hover {
    background: transparent;
    border-color: var(--color-white);
    transform: translateY(-0.5rem);
}