.inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
}

.about__left {
    margin-right: 40px;
   
}


.header_div {
    align-items: center;
    margin: 10px 0px 40px;
    width: 100%;
    font-size: clamp(26px,5vw,32px);
}

.about_header::after { 
    content: "";
    display: inline-block;
    position: relative;
    top: -10px;
    width: 300px;
    height: 1px;
    margin-left: 20px;
    background-color: black;       
}

.skills__container {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.frontend_skills {
    height: 100px;
    width: 30%;
    /* background-color: red; */
}

.backend_skills {
    height: 100px;
    width: 30%;
    /* background-color: green; */
}

.languages {
    height: 100px;
    width: 30%;
    /* background-color: blue; */
}

@media screen and (min-width: 0px) and (max-width: 750px) {
    .about__container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .inner {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about__right {
        margin-top: 4em;
    }

    .about_header::after {
        width: 170px;
    }
}

/* .about__portrait > img {
    width: 280px;
} */