header {
    margin-top: 6rem;
    display: grid;
    place-items: center;
    background: var(--color-white);
    transition: var(--transition);
    height: auto;
}

.container__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header__profile {
   border-radius: 9rem 9rem 2rem 2rem;
   overflow: hidden;
   margin-bottom: 1.5rem;
}

.container__header p {
    width: 35rem;
    text-align: center;
    margin: 0.6rem 0 2rem;
    
}

.header__cta {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.header__socials {
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.header__socials a {
    width: 2rem;
    height: 2rem;
    background: var(--color-light);
    display: grid;
    place-items: center;
    border-radius: var(--border-radius-3);

}
.header__socials a:hover {
    background: var(--color-primary);
    color: var(--color-white);
    transform: translateX(-0.5rem);
}

@media screen and (max-width: 1024px) {
    header {
        margin-top: 0;
        height: 100vh;
    }
}

@media screen and (max-width: 600px) {
    .header__profile {
        margin-top:7rem;
        height: 17rem;
        max-width: 60%;
        max-height: 35vh;
    }

    .container__header p{
        width: 100%;

    }

    .header__cta {
        gap: 1rem;
    }

    .header__socials {
        display: none;
    }
}